include ./modules/head.jade
body
    include ./modules/header.jade
    .content#page2
            .container
                .gliederung
                  ol
                      h1 Gliederung
                      - var sectionlist = ["CSS","Syntax","Einbinden","Vererbung","Farben","Text","Schrift","Listen","Hintergründe","Das Box-Modell","Ränder","Margin","Padding","Höhe und Breite","Box-sizing","Schatten","Display ","Flexbox","Position","Float","Kombinatoren","Pseudo-Klassen","Pseudo-Elemente" , "Transitions" , "Media Queries" ]
                      - var i = 1
                      each section in sectionlist
                        - var g = "#g-";
                        li(id="a-" + i)
                          a(href=g + i)= section
                          - i++ 

                section#g-1
                    h1.sectionheading CSS Cascading Style Sheets
                    p italienisch cascata, [stufenweiser] Wasserfall
                        br
                        | -&gt; stufenweiser Aufbau
                        
                    h3 HTML = Maurer
                    h3 CSS = Maler
                    img(src="assets/img/gsapnocss.png")
                    img(src="assets/img/gsapcss.png")
                section#g-2
                    h1.sectionheading Syntax
                    h3 Syntax
                    .codebox(style="font-size:2rem")
                        pre(class="brush: css").
                            p {
                              margin: 0;
                              font-size: 1.4em;
                            }
                    h3 Kommentare
                    .codebox(style="font-size:2rem")
                        pre(class="brush: css").
                            /* Dies ist ein Kommentar */
                            p {
                              margin: 0;
                              font-size: 1.4em;
                            }
                    h3 !important
                    .codebox(style="font-size:2rem")
                        pre(class="brush: css").
                            p {
                              margin: 0 !important;
                              font-size: 1.4em;
                            }
                section#g-3
                    h1.sectionheading Einbinden
                    h3 Externes Stylesheet
                    .codebox
                        pre(class="brush: xml;").
                            &lt;head&gt;
                                &lt;link rel="stylesheet" type="text/css" href="style.css"&gt;
                            &lt;/head&gt;
                    h3 Stylesheet im Head
                    .codebox
                        pre(class="brush: xml;").
                            &lt;head&gt;
                                &lt;style&gt;
                                    h1 {
                                       color: blue;
                                       text-align: right;
                                    }
                                &lt;/style&gt;
                            &lt;/head&gt;
                    h3 Inline
                    .codebox
                        pre(class="brush: xml;").
                             &lt;h1 style="color:blue;text-align:right"&gt;This is a heading.&lt;/h1&gt;
                    h3 Import im Stylesheet
                    .codebox
                      pre(class="brush: css").
                        @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700');
                section#g-4
                    h1.sectionheading Vererbung
                    .codebox.split2
                        pre(class="brush: xml;").
                            &lt;header class="red"&gt;
                            &lt;h1&gt;Hallo&lt;/h1&gt;            
                            &lt;/header&gt;
                        pre(class="brush: css;").
                            header {
                              color: red;
                              text-align: center;
                            }
                    .examplebox
                        div(style="color: red; text-align:center;width:100%;")
                          h1(style="color: red; text-align:center;") Hallo
                section#g-5
                    h1.sectionheading Farben und Größen
                    h3 Farben
                    .codebox
                      pre(class="brush: css").
                        #1 {
                          background: red;
                        }
                        #2 {
                          background: #56859;
                        }
                        #3 {
                          background: rgb(120,120,61);
                        }
                        #4 {
                          background: rgba(120,120,61,0.6);
                        }
                        #5 {
                          background: hsl(200,30%,40%);
                        }
                        #6 {
                          background: hsla(200,30%,40%,0.6);
                        }
                    .examplebox(style="padding: 1rem;")
                      div(style="border-radius: 50%;display: inline-block;background:red;height:3rem;width:3rem;")
                      div(style="border-radius: 50%;display: inline-block;background:#369541;height:3rem;width:3rem;")
                      div(style="border-radius: 50%;display: inline-block;background:rgb(120,120,61);height:3rem;width:3rem;")
                      div(style="border-radius: 50%;display: inline-block;background:rgba(120,120,61,0.6);height:3rem;width:3rem;")
                      div(style="border-radius: 50%;display: inline-block;background:hsl(200,30%,40%);height:3rem;width:3rem;")
                      div(style="border-radius: 50%;display: inline-block;background:hsla(200,30%,40%,0.6);height:3rem;width:3rem;")
                    h3 Größen
                    .codebox
                      pre(class="brush: css").
                        #1 {
                          height: 50px;
                          width: 50pt;
                        }
                        #2 {
                          height: 2cm;
                          width: 1in;
                        }
                        #3 {
                          height: 5vh;
                          width: 5vw;
                        }
                        #4 {
                          height: 5vmax;
                          width: 5vmin;
                        }
                        #5 {
                          font-size: 1.2rem;
                          height: 3em;
                          width: 3rem;
                        }
                        #6 {
                          height: 90%;
                          width: 30%;
                        }
                    .examplebox(style="padding: 1rem;")
                      div(style="border-radius: 50%;display: inline-block;background:red;height:50px;width:50pt;")
                      div(style="border-radius: 50%;display: inline-block;background:#369541;height:2cm;width:1in;")
                      div(style="border-radius: 50%;display: inline-block;background:rgb(120,120,61);height:5vh;width:5vw;")
                      div(style="border-radius: 50%;display: inline-block;background:rgba(120,120,61,0.6);height:5vmax;width:5vmin;")
                      div(style="font-size: 1.2rem;border-radius: 50%;display: inline-block;background:hsl(200,30%,40%);height:3em;width:3rem;")
                      div(style="border-radius: 50%;display: inline-block;background:hsla(200,30%,40%,0.6);height:90%;width:30%;")
                    
                section#g-6
                    h1.sectionheading Text
                    .codebox
                      pre(class="brush: css").
                        #1 {
                          color: #985232
                          text-align: left; /* right | center | justify */
                          text-decoration: none; /* overline | line-through | underline */
                          text-transform: uppercase; /* lowercase | capitalize*/
                          text-indent: 50px;
                          letter-spacing: 5px;
                          line-height: 1.3;
                          direction: ltr;
                          word-spacing: 3px;
                        }
                        #2 {
                          text-align: justify
                          text-decoration: line-through;
                          letter-spacing: -2px;
                        }
                    .examplebox
                      p(style="color: #985232;text-align: left;text-decoration: none;text-transform: uppercase;text-indent: 50px;letter-spacing: 5px;line-height: 1.3;direction: ltr;word-spacing: 3px;")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam pariatur nostrum, inventore! Minus modi ipsam, maxime impedit necessitatibus non ab nisi incidunt magni! Cum quasi suscipit qui pariatur dicta temporibus.
                      p(style="text-align: justify;text-decoration:line-through;line-height: 1.3;letter-spacing: -2px;")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam pariatur nostrum, inventore! Minus modi ipsam, maxime impedit necessitatibus non ab nisi incidunt magni! Cum quasi suscipit qui pariatur dicta temporibus.
                section#g-7
                    h1.sectionheading Schrift
                    .codebox
                      pre(class="brush: css").
                        #1 {
                          font-family: 'Times New Roman', Times , serif;
                          font-family: 'Fira Sans', sans serif;
                          font-style: nromal; /* italic */
                          font-size: 2rem;
                          font-weight: 700; /* 100 | 400 | 300 | bold | normal | thin */ 
                        }
                        #2 {
                        
                        }
                    .examplebox
                      p(style="font-size: 2rem; font-weight: 700;")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, autem?
                section#g-8
                    h1.sectionheading Listen
                    .codebox.split2
                      pre(class="brush: xml").
                        &lt;ol&gt;
                          &lt;li&gt; Erdbeeren &lt;/li&gt;
                          &lt;li&gt; Bananen &lt;/li&gt;
                        &lt;/ol&gt;
                        &lt;ul&gt;
                          &lt;li&gt; Schokolade &lt;/li&gt;
                          &lt;li&gt; Gummibärchen &lt;/li&gt;
                        &lt;/ul&gt;
                      pre(class="brush: css").
                        ol {
                          list-style-type: decimal; /* lower-alpha | numeric | armenian | georgian | ... */
                          list-style-image: url("list.png");
                          list-style-position: outside; /* inside */
                        }
                        ul {
                          list-style: square inside;
                        }
                    .examplebox
                      ol(style="list-style: decimal outside;")
                        li Erdbeeren
                        li Bananen
                      ul(style="list-style: square inside;")
                        li Schokolade
                        li Gummibärchen
                section#g-9
                  h1.sectionheading Hintergründe
                  p.prefix (-prefix-)
                  .codebox
                    pre(class="brush: css").
                      #1 {
                        background-color: #635245;
                      }
                      #2 {
                        background-image: url('csssyntax.png');
                        background-repeat: no-repeat;
                        background-position: left top;                        
                      }
                      #3 {
                        background: url('csssyntax.png') no-repeat center center;
                        background-size: cover; /* contain | 50px 30px */
                        -o-background-size: cover;
                        -moz-background-size: cover;
                        -webkit-background-size: cover;
                      }
                  .examplebox
                    div(style="margin:5px;background: #635245;")
                    div(style="margin:5px;height:10rem;width:10rem;background: url('assets/img/csssyntax.png');")
                    div(style="margin:5px;height:10rem;width:10rem;background:  url('assets/img/csssyntax.png') no-repeat left center;background-size: cover;")
                section#g-10
                  h1.sectionheading Das Box-Modell
                  a(href="http://codepen.io/carolineartz/full/ogVXZj/", target="_blank") Codepen by carolineartz
                  img(style="display: block; margin: 0 auto 2rem; width: auto;", src="assets/img/boxmodell.png", alt="Boxmodell")
                  .codebox
                    pre(class="brush: css").
                      #1 {
                        width: 120px;
                        height: 60px;
                        padding: 10px;
                        border: 10px dashed navy;
                        margin: 8px;
                      }
                  .examplebox
                    div(style="box-sizing: content-box;width:120px; height: 60px; padding: 10px; border: 10px dashed navy; margin: 8px; background: #df6512")
                section#g-11
                  h1.sectionheading Ränder
                  .codebox
                    pre(class="brush: css").
                      #1 {
                        border-style: solid; /* dotted | dashed | double | groove | none */
                      }
                      #2 {
                        border-style: solid dotted dashed solid;
                      }
                  .examplebox
                    div(style="border: 10px solid #3252de")
                    div(style="border-width: 10px;border-style:solid dotted dashed solid;border-color:#12de96;")
                  hr
                  .codebox
                    pre(class="brush: css").
                      #1 {
                        border-width: 20px;
                      }

                  .examplebox
                    div(style="border: 20px solid #3252de")
                  hr
                  .codebox
                    pre(class="brush: css").
                      #1 {
                        border-color: #de54aa;
                      }

                  .examplebox
                    div(style="border: 10px solid #de54aa")
                    
                  hr
                  p.prefix (-prefix-)
                  .codebox
                    pre(class="brush: css").
                      #1 {
                        border: 10px solid #de54aa;
                        border-radius: 30px;
                      }

                  .examplebox
                    div(style="border: 10px solid #de54aa; border-radius: 30px")
                    
                section#g-12
                  h1.sectionheading Margin
                  .codebox.split2
                    pre(class="brush: xml").
                      &lt;div id="1"&gt;
                        &lt;div id="2"&gt;&lt;/div&gt;
                      &lt;/div&gt;
                    pre(class="brush: css").
                      #1 {
                        background: #3252de;
                      }
                      #2 {
                        background: #de54aa;
                        margin: 5px 3px 10px 0;
                      }
                  .examplebox
                    div(style="background: #3252de;")
                      div(style="background: #de54aa; margin: 5px 3px 10px 0;z-index: 10;height: calc(100% - 15px);width: auto;")
                section#g-13
                  h1.sectionheading Padding
                  .codebox.split2
                    pre(class="brush: xml").
                      &lt;div id="1"&gt;
                        &lt;div id="2"&gt;&lt;/div&gt;
                      &lt;/div&gt;
                    pre(class="brush: css").
                      #1 {
                        background: #3252de;
                        padding: 30px;
                        border: 5px solid #12de96
                      }
                      #2 {
                        background: #de54aa;
                      }
                  .examplebox
                    div(style="background: #3252de; padding:30px;border: 5px solid #12de96;")
                      div(style="background: #de54aa; z-index: 10;height:5rem;")
                section#g-14
                  h1.sectionheading Height and Width
                  .codebox
                    pre(class="brush: css").
                      #1 {
                        background: #de54aa;
                        border: 5px solid #3252de
                        width: 300px;
                        height: 150px;
                      }
                      
                      #2 {
                        background: #54aade;
                        border: 5px solid #249832;
                        max-width: 300px;
                        width: 50%;
                        height: 10rem;
                        max-height: 150px
                      }
                  .examplebox
                    div(style="width: 300px;height:150px;background:#de54aa;padding:0;border:5px solid #3252de;")
                    div#js_ex_1(style="width:50%;height:10rem;background:#54aade;padding:0;border:5px solid #249832;")
                section#g-15
                  h1.sectionheading Box-sizing
                  p.prefix (-prefix-)
                  .codebox.split2
                    pre(class="brush: xml").
                      <div id="1"></div>
                      <div id="2"></div>
                    pre(class="brush: css").
                      #1 {
                        width: 300px;
                        height: 150px;
                        border: 5px solid #249832;
                      }
                      #2 {
                        width: 300px;
                        height: 150px;
                        padding: 20px;
                        border: 5px solid #249832;
                      }
                  .examplebox
                    div(style="width:300px;height:150px;border:5px solid #249832;")
                    div(style="width:300px;height:150px;padding:20px;border: 5px solid #54aade;")
                  .space
                  .codebox.split2
                    pre(class="brush: xml").
                      <div id="1"></div>
                      <div id="2"></div>
                    pre(class="brush: css").
                      div {
                        box-sizing: border-box;
                      }
                      #1 {
                        width: 300px;
                        height: 150px;
                        border: 5px solid #249832;
                      }
                      #2 {
                        width: 300px;
                        height: 150px;
                        padding: 20px;
                        border: 5px solid #249832;
                      }
                  .examplebox
                    div(style="width:300px;height:150px;border:5px solid #249832;box-sizing:border-box;")
                    div(style="width:300px;height:150px;padding:20px;border: 5px solid #54aade;box-sizing:border-box;")
                section#g-16
                  h1.sectionheading Schatten
                  p.prefix (-prefix-)
                  div(style="border-radius: 10px;margin: 0 1rem;display: inline-block;box-shadow: 0 0 10px rgba(30,30,30,0.6);height: 15rem;width: 10rem;")
                    h2(style="border-radius: 10px 10px 0 0;width:10rem;margin:0;text-align: center; font-size: 6rem; padding: 2rem 0; background: #2D7998;color: white;text-shadow: 0 0 20px rgba(0,0,0,0.6); box-shadow: inset 0 0 40px rgba(250,250,250,0.1)") 18
                    p(style="width: 100%; height: 5rem;text-align: center; font-size: 1rem; padding: 1.5rem 0;") 18.Januar 2016
                  div(style="border-radius: 10px;margin: 0 1rem;display: inline-block;box-shadow: 0 0 10px rgba(30,30,30,0.6);height: 15rem;width: 10rem;")
                    h2(style="border-radius: 10px 10px 0 0;width:10rem;margin:0;text-align: center; font-size: 6rem; padding: 2rem 0; background: #CCC314;color: white;text-shadow: 0 0 20px rgba(0,0,0,0.6); box-shadow: inset 0 0 40px rgba(250,250,250,0.1)") 19
                    p(style="width: 100%; height: 5rem;text-align: center; font-size: 1rem; padding: 1.5rem 0;") 19.Januar 2016
                  div(style="border-radius: 10px;margin: 0 1rem;display: inline-block;box-shadow: 0 0 10px rgba(30,30,30,0.6);height: 15rem;width: 10rem;")
                    h2(style="border-radius: 10px 10px 0 0;width:10rem;margin:0;text-align: center; font-size: 6rem; padding: 2rem 0; background: #FF1943;color: white;text-shadow: 0 0 20px rgba(0,0,0,0.6); box-shadow: inset 0 0 40px rgba(250,250,250,0.1)") 20
                    p(style="width: 100%; height: 5rem;text-align: center; font-size: 1rem; padding: 1.5rem 0;") 20.Januar 2016
                  .examplebox
                    p(style="font-size: 2.5rem;text-shadow: 7px 7px;") Hello Everybody
                    p(style="font-size: 2.5rem;text-shadow: 7px 7px rgb(30,150,132);") Hello Everybody
                    p(style="font-size: 2.5rem;text-shadow: 7px 7px 7px rgb(30,150,132);") Hello Everybody
                  .codebox
                    pre(class="brush: css").
                      #1 {
                        text-shadow: 7px 7px;
                      }
                      #2 {  
                        text-shadow: 7px 7px rgba(30,150,132);
                      }
                      #3 {
                        text-shadow: 7px 7px 7px rgba(30,150,132);
                      }
                  .space
                  .examplebox
                    div(style="border-radius: 10px;margin: 1rem;display: inline-block;box-shadow: 0 0 10px rgba(30,30,30,0.6);height: 15rem;width: 10rem;")
                      h2(style="border-radius: 10px 10px 0 0;width:10rem;margin:0;text-align: center; font-size: 6rem; padding: 2rem 0; background: #2D7998;color: white;text-shadow: 0 0 20px rgba(0,0,0,0.6); box-shadow: inset 0 0 40px rgba(250,250,250,0.1)") 18
                      p(style="width: 100%; height: 5rem;text-align: center; font-size: 1rem; padding: 1.5rem 0;") 18.Januar 2016  
                  .codebox.split2
                    pre(class="brush: xml").
                      <div>
                        <h2>18</h2>
                        <p>18.Januar 2016</p>
                      </div>
                    pre(class="brush: css").
                      div {
                        border-radius: 10px;
                        box-shadow: 0 0 10px rgba(30,30,30,0.6);
                        height: 15rem;
                        width: 10rem;
                      }
                      
                      h2 {
                        border-radius: 10px 10px 0 0;
                        width:10rem;
                        margin:0;
                        text-align: center;
                        font-size: 6rem;
                        padding: 2rem 0;
                        background: #2D7998;
                        color: #fff;
                        text-shadow: 0 0 20px rgba(0,0,0,0.6);
                        box-shadow: inset 0 0 40px rgba(250,250,250,0.1);
                      }
                      
                      p{
                        width: 100%;
                        height: 5rem;
                        text-align: center;
                        font-size: 1rem;
                        padding: 1.5rem 0;
                      }
                section#g-17
                  h1.sectionheading Display
                  .codebox
                    pre(class="brush: css").
                      span {
                        height: 2em;
                        background: #253845;
                      }
                      #1 {
                        display: block;
                      }
                      #2 {
                        display: inline;
                      }
                      #3 {
                        display: inline-block;
                      }
                      #4 {
                        display: none;
                      }
                  .examplebox
                    p Hi, this is 
                      span(style="display: block; height: 2em;background:#253845;") Steven
                    p Hi, this is 
                      span(style="display: inline; height: 2em;background:#253845;") Steven
                    p Hi, this is 
                      span(style="display: inline-block; height: 2em;background:#253845;") Steven
                    p Hi, this is 
                      span(style="display: none; height: 2em;background:#253845;") Steven

                section#g-18
                  h1.sectionheading Flexbox 
                  p.prefix (-prefix-)
                  .codebox.split2
                    pre(class="brush: xml").
                      <div class="flexbox">
                        <div class="flexitem">
                        </div>
                        <div class="flexitem">
                        </div>
                        <div class="flexitem">
                        </div>
                      </div>
                    pre(class="brush: css").
                      .flexbox {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-direction: row;
                        border: 2px solid #253845;
                      }
                      
                      .flexitem{
                        height: 2em;
                        border: 2px solid #253845;
                        width:2em;
                      }
                  .examplebox
                    div(style="width: 100%;display: flex;flex-direction: row;justify-content: space-around;align-items: center;border: 2px solid #253845;")
                      div(style="display: block;height: 2em;border: 2px solid #253845;width:2em;")
                      div(style="display: block;height: 2em;border: 2px solid #253845;width:2em;")
                      div(style="display: block;height: 2em;border: 2px solid #253845;width:2em;")
                      div(style="display: block;height: 2em;border: 2px solid #253845;width:2em;")
                section#g-19
                  h1.sectionheading Position
                  .codebox
                    pre(class="brush: css").
                      #1 {
                        position: static;
                      }
                      #2 {
                        position: relative;
                        top: 2em;
                      }
                      #3 {
                        position: fixed;
                      }
                      #4 {
                        position: absolute;
                        top: 0;
                        right: 0;
                      }
                  .examplebox(style="position:relative")
                    div(style="background: #126285;")
                    div#js_ex_2(style="background: #856212; position: relative;")
                    div#js_ex_3(style="background: #621285;")
                    div#js_ex_4(style="background: #628512; position: absolute; left: 16.1rem")
                section#g-20
                  h1.sectionheading Float
                  .codebox
                    pre(class="brush: css").
                      #1 {
                        float: left;
                      }
                      
                      #2 {
                        float: right;
                      }
                      
                      /*Switch1*/
                      p {
                        clear: both;
                      }
                  .switchbox
                    .switchgroup
                      .switch#js_ex_5_fo on
                      .switch.sactive#js_ex_5_ff off
                  .examplebox
                    div(style="float:left;background:#159756;")
                    div(style="float:right;background:#482846;")
                    p#js_ex_5 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque facere corporis, modi dolorem ullam obcaecati sed odio culpa nemo inventore, impedit ipsum hic magnam doloribus illum ipsa ea optio aliquam eos suscipit molestiae accusamus quibusdam? Maxime mollitia velit asperiores quisquam dolor, eum pariatur cum obcaecati minima ducimus sint beatae nesciunt, dignissimos unde cupiditate! Impedit totam cumque, facilis libero quaerat at molestiae fugiat odio consectetur adipisci voluptates ex omnis minus minima temporibus sed soluta blanditiis reiciendis illum qui commodi laborum! Hic.
                    div.clearfix
                section#g-21
                  h1.sectionheading Kombinatoren
                  .codebox
                    pre(class="brush: css").
                      /* Absteigend */
                      div p {
                        color: #548645;
                      }
                      /* Kind */
                      div > p {
                        color: #548645;
                      }
                      /* Zwilling */
                      div ~ p {
                        color: #548645;
                      }
                      
                      /* Schlecht */
                      body > .wrapper > main > section > p > a > span {
                        background: yellow;
                      }
                      /* Gut */
                      .bg-yellow {
                        background: yellow;
                      }
                section#g-22
                  h1.sectionheading Pseudo-Klassen
                  .codebox
                    pre(class="brush: css").
                      p:hover {}
                      
                      input:focus {}
                      
                      p:first-child {}
                      
                      a:active {}
                      
                      :not(p) {}
                        
                      a:visited {}
                  .examplebox
                    div.css_ex_1 Hover Me
                    input.css_ex_2(type="text", name="name", placeholder="Focus Me")
                  .codebox.split2
                    pre(class="brush: xml").
                      <div class="hover">
                        Hover menu
                      </div>
                      <input type="text" class="focus">
                      
                    pre(class="brush: css").
                      .hover {
                        padding: 0.5rem;
                        text-align: center;
                        background: #56de1c;
                        color: #fff;
                        border-radius: 0.5rem;
                        cursor: pointer;
                      }
                      
                      .hover:hover {
                        background: #1c5e48;
                      }
                      
                      .focus {
                        padding: 0.5rem;
                        border: 2px solid #666;
                        border-radius: 0.5rem;
                        color: #666;
                      }
                      
                      .focus:hover {
                        background: #989898;
                      }
                      
                      .focus:focus {
                        background: #777;
                        color: #fff;
                      }
                      
                section#g-23
                  h1.sectionheading Pseudo-Elemente
                  .codebox
                    pre(class="brush: css").
                      div::before {}
                      
                      div::after {}
                                            
                      ::selection {}
                  .examplebox
                    div.css_ex_3
                      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias doloremque consequuntur quisquam quia ea est quae blanditiis dolor sunt sed exercitationem accusamus itaque explicabo provident ipsam doloribus dolore, minus hic.
                  .codebox.split2(style="margin: 2rem 0")
                    pre(class="brush: xml").
                      <div class="watchthis">
                        <p> Lorem ipsum dolor sit amet,
                         consectetur adipisicing elit.
                         Quidem, perspiciatis.
                         Lorem ipsum dolor sit amet,
                         consectetur adipisicing elit.
                         Dolores, rerum. Non libero 
                         voluptatibus dolores dolorem, 
                         iure rerum sequi consequatur 
                         impedit.
                         </p>
                      </div>
                    pre(class="brush: css").
                      .watchthis{
                        width: auto;
                        height: auto;
                        display: block;
                      }

                      .watchthis::before {
                        content: 'before';
                        background: yellow;
                      }

                      .watchthis::after {
                        content: 'after';
                        background: pink;
                      }

                      .watchthis::-moz-selection {
                        color: #89adf8;
                        text-transform: uppercase;
                        background: #484654;
                      }

                      .watchthis::selection {
                        color: #89adf8;
                        text-transform: uppercase;
                        background: #484654;
                      }
                      
                      
                section#g-24
                  h1.sectionheading Transitions
                  p.prefix -prefix- all the stuff !!!
                  .codebox
                    pre(class="brush: css").
                      div {
                        transition: all 0.5s ease-in-out 0.3s;
                        transition: property duration timing-function delay;
                      }
                  .examplebox
                    div.css_ex_4 Hover Me
                    div.css_ex_5 Hover Me
                  .codebox.split2
                    pre(class="brush: xml").
                      <div class="transitionbox">
                        Hover Me
                      </div>
                      
                    pre(class="brush: css").
                      .transitionbox {
                        padding: 0.5rem;
                        text-align: center;
                        background: #56de1c;
                        color: #fff;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        width: 10rem;
                        -webkit-transition: all 0.5s ease 1s;
                           -moz-transition: all 0.5s ease 1s;
                             -o-transition: all 0.5s ease 1s;
                                transition: all 0.5s ease 1s;
                      }
                      .transitionbox:hover {
                        background: #1c5e48;
                        width: 25rem;
                        border-radius: 50%;
                      }
                      
                section#g-25
                  h1.sectionheading Media Queries
                  .codebox
                    pre(class="brush: css").
                      @media not|only mediatype and (expressions) {
                          CSS-Code;
                      }
                    
                      @media screen and (min-width: 480px) {
                        p {
                          color: pink;
                        }
                      }
                      
                section
                  h1.sectionheading Helpfull
                  .huge
                    a.huge(href="http://www.w3schools.com/cssref/default.asp") W3Schools CSS Reference
                  .huge(style="margin: 2em 0")
                    a.huge(href="https://css-tricks.com/") CSS-Tricks 
                  
                  
                  
                

                      

    include ./modules/footer.jade
        
