include ./modules/head.jade
body
    include ./modules/header.jade
    div#welcome
      svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", viewBox="0 0 592.937 304.271", xml:space="preserve")
        g
          polygon#half1(style="fill: #fff;", points="0,0 400,0 200,304.271 0,304.271")
          polygon#half2(style="fill: #fff", points="400,0 592.937,0 592.937,304.271 200,304.271")
        g#group1
          polygon#p-01.poly.color1(points="592.937,253.559 565.974,304.271 539.009,253.559")
          polygon#p-02.poly.color2(points="512.044,304.271 539.009,253.559 565.974,304.271")
          polygon#p-03.poly.color3(points="539.009,253.559 512.044,304.271 485.08,253.559")
          polygon#p-04.poly.color4(points="458.116,304.271 485.08,253.559 512.044,304.271")
          polygon#p-05.poly.color5(points="485.08,253.559 458.116,304.271 431.151,253.559")
          polygon#p-06.poly.color6(points="404.188,304.271 431.151,253.559 458.116,304.271")
          polygon#p-07.poly.color7(points="431.151,253.559 404.188,304.271 377.224,253.559")
          polygon#p-08.poly.color8(points="350.26,304.271 377.224,253.559 404.188,304.271")
          polygon#p-09.poly.color9(points="377.224,253.559 350.26,304.271 323.295,253.559")
          polygon#p-10.poly.color10(points="296.331,304.271 323.295,253.559 350.26,304.271")
          polygon#p-11.poly.color11(points="323.295,253.559 296.331,304.271 269.366,253.559")
          polygon#p-12.poly.color12(points="242.404,304.271 269.366,253.559 296.331,304.271")
          polygon#p-13.poly.color13(points="269.366,253.559 242.404,304.271 215.439,253.559")
          polygon#p-14.poly.color14(points="188.476,304.271 215.439,253.559 242.404,304.271")
          polygon#p-15.poly.color15(points="215.439,253.559 188.476,304.271 161.511,253.559")
          polygon#p-16.poly.color16(points="134.546,304.271 161.511,253.559 188.476,304.271")
          polygon#p-17.poly.color17(points="161.511,253.559 134.546,304.271 107.583,253.559")
          polygon#p-18.poly.color18(points="80.618,304.271 107.583,253.559 134.546,304.271")
          polygon#p-19.poly.color19(points="107.583,253.559 80.618,304.271 53.654,253.559")
          polygon#p-20.poly.color20(points="26.691,304.271 53.654,253.559 80.618,304.271")
          polygon#p-21.poly.color21(points="539.009,253.559 565.974,202.845 592.937,253.559")
          polygon#p-22.poly.color22(points="565.974,202.845 539.009,253.559 512.044,202.845")
          polygon#p-23.poly.color23(points="485.08,253.559 512.044,202.845 539.009,253.559")
          polygon#p-24.poly.color24(points="512.044,202.845 485.08,253.559 458.116,202.845")
          polygon#p-25.poly.color25(points="431.151,253.559 458.116,202.845 485.08,253.559")
          polygon#p-26.poly.color26(points="458.116,202.845 431.151,253.559 404.188,202.845")
          polygon#p-27.poly.color27(points="377.224,253.559 404.188,202.845 431.151,253.559")
          polygon#p-28.poly.color28(points="404.188,202.845 377.224,253.559 350.26,202.845")
          polygon#p-29.poly.color29(points="323.295,253.559 350.26,202.845 377.224,253.559")
          polygon#p-30.poly.color30(points="350.26,202.845 323.295,253.559 296.331,202.845")
          polygon#p-31.poly.color31(points="269.366,253.559 296.331,202.845 323.295,253.559")
          polygon#p-32.poly.color32(points="296.331,202.845 269.366,253.559 242.404,202.845")
          polygon#p-33.poly.color33(points="215.439,253.559 242.404,202.845 269.366,253.559")
          polygon#p-34.poly.color34(points="242.404,202.845 215.439,253.559 188.476,202.845")
          polygon#p-35.poly.color35(points="161.511,253.559 188.476,202.845 215.439,253.559")
          polygon#p-36.poly.color36(points="188.476,202.845 161.511,253.559 134.546,202.845")
          polygon#p-37.poly.color37(points="107.583,253.559 134.546,202.845 161.511,253.559")
          polygon#p-38.poly.color38(points="134.546,202.845 107.583,253.559 80.618,202.845")
          polygon#p-39.poly.color39(points="53.654,253.559 80.618,202.845 107.583,253.559")
          polygon#p-40.poly.color40(points="80.618,202.845 53.654,253.559 26.691,202.845")
          polygon#p-41.poly.color41(points="592.937,152.134 565.974,202.845 539.009,152.134")
          polygon#p-42.poly.color42(points="512.044,202.845 539.009,152.134 565.974,202.845")
          polygon#p-43.poly.color43(points="539.009,152.134 512.044,202.845 485.08,152.134")
          polygon#p-44.poly.color44(points="458.116,202.845 485.08,152.134 512.044,202.845")
          polygon#p-45.poly.color45(points="485.08,152.134 458.116,202.845 431.151,152.134")
          polygon#p-46.poly.color46(points="404.188,202.845 431.151,152.134 458.116,202.845")
          polygon#p-47.poly.color47(points="431.151,152.134 404.188,202.845 377.224,152.134")
          polygon#p-48.poly.color48(points="350.26,202.845 377.224,152.134 404.188,202.845")
          polygon#p-49.poly.color49(points="377.224,152.134 350.26,202.845 323.295,152.134")
          polygon#p-50.poly.color50(points="296.331,202.845 323.295,152.134 350.26,202.845")
          polygon#p-51.poly.color51(points="323.295,152.134 296.331,202.845 269.366,152.134")
          polygon#p-52.poly.color52(points="242.404,202.845 269.366,152.134 296.331,202.845")
          polygon#p-53.poly.color53(points="269.366,152.134 242.404,202.845 215.439,152.134")
          polygon#p-54.poly.color54(points="188.476,202.845 215.439,152.134 242.404,202.845")
          polygon#p-55.poly.color55(points="215.439,152.134 188.476,202.845 161.511,152.134")
          polygon#p-56.poly.color56(points="134.546,202.845 161.511,152.134 188.476,202.845")
          polygon#p-57.poly.color57(points="161.511,152.134 134.546,202.845 107.583,152.134")
          polygon#p-58.poly.color58(points="80.618,202.845 107.583,152.134 134.546,202.845")
          polygon#p-59.poly.color59(points="107.583,152.134 80.618,202.845 53.654,152.134")
          polygon#p-60.poly.color60(points="26.691,202.845 53.654,152.134 80.618,202.845")
          polygon#p-61.poly.color61(points="539.009,152.134 565.974,101.423 592.937,152.134")
          polygon#p-62.poly.color62(points="565.974,101.423 539.009,152.134 512.044,101.423")
          polygon#p-63.poly.color63(points="485.08,152.134 512.044,101.423 539.009,152.134")
          polygon#p-64.poly.color64(points="512.044,101.423 485.08,152.134 458.116,101.423")
          polygon#p-65.poly.color65(points="431.151,152.134 458.116,101.423 485.08,152.134")
          polygon#p-66.poly.color66(points="458.116,101.423 431.151,152.134 404.188,101.423")
          polygon#p-67.poly.color67(points="377.224,152.134 404.188,101.423 431.151,152.134")
          polygon#p-68.poly.color68(points="404.188,101.423 377.224,152.134 350.26,101.423")
          polygon#p-69.poly.color69(points="323.295,152.134 350.26,101.423 377.224,152.134")
          polygon#p-70.poly.color70(points="350.26,101.423 323.295,152.134 296.331,101.423")
          polygon#p-71.poly.color71(points="269.366,152.134 296.331,101.423 323.295,152.134")
          polygon#p-72.poly.color72(points="296.331,101.423 269.366,152.134 242.404,101.423")
          polygon#p-73.poly.color73(points="215.439,152.134 242.404,101.423 269.366,152.134")
          polygon#p-74.poly.color74(points="242.404,101.423 215.439,152.134 188.476,101.423")
          polygon#p-75.poly.color75(points="161.511,152.134 188.476,101.423 215.439,152.134")
          polygon#p-76.poly.color76(points="188.476,101.423 161.511,152.134 134.546,101.423")
          polygon#p-77.poly.color77(points="107.583,152.134 134.546,101.423 161.511,152.134")
          polygon#p-78.poly.color78(points="134.546,101.423 107.583,152.134 80.618,101.423")
          polygon#p-79.poly.color79(points="53.654,152.134 80.618,101.423 107.583,152.134")
          polygon#p-80.poly.color80(points="80.618,101.423 53.654,152.134 26.691,101.423")
          polygon#p-81.poly.color81(points="592.937,50.711 565.974,101.423 539.009,50.711")
          polygon#p-82.poly.color82(points="512.044,101.423 539.009,50.711 565.974,101.423")
          polygon#p-83.poly.color83(points="539.009,50.711 512.044,101.423 485.08,50.711")
          polygon#p-84.poly.color84(points="458.116,101.423 485.08,50.711 512.044,101.423")
          polygon#p-85.poly.color85(points="485.08,50.711 458.116,101.423 431.151,50.711")
          polygon#p-86.poly.color86(points="404.188,101.423 431.151,50.711 458.116,101.423")
          polygon#p-87.poly.color87(points="431.151,50.711 404.188,101.423 377.224,50.711")
          polygon#p-88.poly.color88(points="350.26,101.423 377.224,50.711 404.188,101.423")
          polygon#p-89.poly.color89(points="377.224,50.711 350.26,101.423 323.295,50.711")
          polygon#p-90.poly.color90(points="296.331,101.423 323.295,50.711 350.26,101.423")
          polygon#p-91.poly.color91(points="323.295,50.711 296.331,101.423 269.366,50.711")
          polygon#p-92.poly.color92(points="242.404,101.423 269.366,50.711 296.331,101.423")
          polygon#p-93.poly.color93(points="269.366,50.711 242.404,101.423 215.439,50.711")
          polygon#p-94.poly.color94(points="188.476,101.423 215.439,50.711 242.404,101.423")
          polygon#p-95.poly.color95(points="215.439,50.711 188.476,101.423 161.511,50.711")
          polygon#p-96.poly.color96(points="134.546,101.423 161.511,50.711 188.476,101.423")
          polygon#p-97.poly.color97(points="161.511,50.711 134.546,101.423 107.583,50.711")
          polygon#p-98.poly.color98(points="80.618,101.423 107.583,50.711 134.546,101.423")
          polygon#p-99.poly.color99(points="107.583,50.711 80.618,101.423 53.654,50.711")
          polygon#p-100.poly.color100(points="26.691,101.423 53.654,50.711 80.618,101.423")
          polygon#p-101.poly.color101(points="539.009,50.711 565.974,0 592.937,50.711")
          polygon#p-102.poly.color102(points="565.974,0 539.009,50.711 512.044,0")
          polygon#p-103.poly.color103(points="485.08,50.711 512.044,0 539.009,50.711")
          polygon#p-104.poly.color104(points="512.044,0 485.08,50.711 458.116,0")
          polygon#p-105.poly.color105(points="431.151,50.711 458.116,0 485.08,50.711")
          polygon#p-106.poly.color106(points="458.116,0 431.151,50.711 404.188,0")
          polygon#p-107.poly.color107(points="377.224,50.711 404.188,0 431.151,50.711")
          polygon#p-108.poly.color108(points="404.188,0 377.224,50.711 350.26,0")
          polygon#p-109.poly.color109(points="323.295,50.711 350.26,0 377.224,50.711")
          polygon#p-110.poly.color110(points="350.26,0 323.295,50.711 296.331,0")
          polygon#p-111.poly.color111(points="269.366,50.711 296.331,0 323.295,50.711")
          polygon#p-112.poly.color112(points="296.331,0 269.366,50.711 242.404,0")
          polygon#p-113.poly.color113(points="215.439,50.711 242.404,0 269.366,50.711")
          polygon#p-114.poly.color114(points="242.404,0 215.439,50.711 188.476,0")
          polygon#p-115.poly.color115(points="161.511,50.711 188.476,0 215.439,50.711")
          polygon#p-116.poly.color116(points="188.476,0 161.511,50.711 134.546,0")
          polygon#p-117.poly.color117(points="107.583,50.711 134.546,0 161.511,50.711")
          polygon#p-118.poly.color118(points="134.546,0 107.583,50.711 80.618,0")
          polygon#p-119.poly.color119(points="53.654,50.711 80.618,0 107.583,50.711")
          polygon#p-120.poly.color120(points="80.618,0 53.654,50.711 26.691,0")
        g.op34#group2
          polygon#p-1.poly.color1(points="592.937,253.559 565.974,304.271 539.009,253.559")
          polygon#p-2.poly.color2(points="512.044,304.271 539.009,253.559 565.974,304.271")
          polygon#p-3.poly.color3(points="539.009,253.559 512.044,304.271 485.08,253.559")
          polygon#p-4.poly.color4(points="458.116,304.271 485.08,253.559 512.044,304.271")
          polygon#p-5.poly.color5(points="485.08,253.559 458.116,304.271 431.151,253.559")
          polygon#p-6.poly.color6(points="404.188,304.271 431.151,253.559 458.116,304.271")
          polygon#p-7.poly.color7(points="431.151,253.559 404.188,304.271 377.224,253.559")
          polygon#p-8.poly.color8(points="350.26,304.271 377.224,253.559 404.188,304.271")
          polygon#p-9.poly.color9(points="377.224,253.559 350.26,304.271 323.295,253.559")
          polygon#p-10.poly.color10(points="296.331,304.271 323.295,253.559 350.26,304.271")
          polygon#p-11.poly.color11(points="323.295,253.559 296.331,304.271 269.366,253.559")
          polygon#p-12.poly.color12(points="242.404,304.271 269.366,253.559 296.331,304.271")
          polygon#p-13.poly.color13(points="269.366,253.559 242.404,304.271 215.439,253.559")
          polygon#p-14.poly.color14(points="188.476,304.271 215.439,253.559 242.404,304.271")
          polygon#p-15.poly.color15(points="215.439,253.559 188.476,304.271 161.511,253.559")
          polygon#p-16.poly.color16(points="134.546,304.271 161.511,253.559 188.476,304.271")
          polygon#p-17.poly.color17(points="161.511,253.559 134.546,304.271 107.583,253.559")
          polygon#p-18.poly.color18(points="80.618,304.271 107.583,253.559 134.546,304.271")
          polygon#p-19.poly.color19(points="107.583,253.559 80.618,304.271 53.654,253.559")
          polygon#p-20.poly.color20(points="26.691,304.271 53.654,253.559 80.618,304.271")
          polygon#p-21.poly.color21(points="539.009,253.559 565.974,202.845 592.937,253.559")
          polygon#p-22.poly.color22(points="565.974,202.845 539.009,253.559 512.044,202.845")
          polygon#p-23.poly.color23(points="485.08,253.559 512.044,202.845 539.009,253.559")
          polygon#p-24.poly.color24(points="512.044,202.845 485.08,253.559 458.116,202.845")
          polygon#p-25.poly.color25(points="431.151,253.559 458.116,202.845 485.08,253.559")
          polygon#p-26.poly.color26(points="458.116,202.845 431.151,253.559 404.188,202.845")
          polygon#p-27.poly.color27(points="377.224,253.559 404.188,202.845 431.151,253.559")
          polygon#p-28.poly.color28(points="404.188,202.845 377.224,253.559 350.26,202.845")
          polygon#p-29.poly.color29(points="323.295,253.559 350.26,202.845 377.224,253.559")
          polygon#p-30.poly.color30(points="350.26,202.845 323.295,253.559 296.331,202.845")
          polygon#p-31.poly.color31(points="269.366,253.559 296.331,202.845 323.295,253.559")
          polygon#p-32.poly.color32(points="296.331,202.845 269.366,253.559 242.404,202.845")
          polygon#p-33.poly.color33(points="215.439,253.559 242.404,202.845 269.366,253.559")
          polygon#p-34.poly.color34(points="242.404,202.845 215.439,253.559 188.476,202.845")
          polygon#p-35.poly.color35(points="161.511,253.559 188.476,202.845 215.439,253.559")
          polygon#p-36.poly.color36(points="188.476,202.845 161.511,253.559 134.546,202.845")
          polygon#p-37.poly.color37(points="107.583,253.559 134.546,202.845 161.511,253.559")
          polygon#p-38.poly.color38(points="134.546,202.845 107.583,253.559 80.618,202.845")
          polygon#p-39.poly.color39(points="53.654,253.559 80.618,202.845 107.583,253.559")
          polygon#p-40.poly.color40(points="80.618,202.845 53.654,253.559 26.691,202.845")
          polygon#p-41.poly.color41(points="592.937,152.134 565.974,202.845 539.009,152.134")
          polygon#p-42.poly.color42(points="512.044,202.845 539.009,152.134 565.974,202.845")
          polygon#p-43.poly.color43(points="539.009,152.134 512.044,202.845 485.08,152.134")
          polygon#p-44.poly.color44(points="458.116,202.845 485.08,152.134 512.044,202.845")
          polygon#p-45.poly.color45(points="485.08,152.134 458.116,202.845 431.151,152.134")
          polygon#p-46.poly.color46(points="404.188,202.845 431.151,152.134 458.116,202.845")
          polygon#p-47.poly.color47(points="431.151,152.134 404.188,202.845 377.224,152.134")
          polygon#p-48.poly.color48(points="350.26,202.845 377.224,152.134 404.188,202.845")
          polygon#p-49.poly.color49(points="377.224,152.134 350.26,202.845 323.295,152.134")
          polygon#p-50.poly.color50(points="296.331,202.845 323.295,152.134 350.26,202.845")
          polygon#p-51.poly.color51(points="323.295,152.134 296.331,202.845 269.366,152.134")
          polygon#p-52.poly.color52(points="242.404,202.845 269.366,152.134 296.331,202.845")
          polygon#p-53.poly.color53(points="269.366,152.134 242.404,202.845 215.439,152.134")
          polygon#p-54.poly.color54(points="188.476,202.845 215.439,152.134 242.404,202.845")
          polygon#p-55.poly.color55(points="215.439,152.134 188.476,202.845 161.511,152.134")
          polygon#p-56.poly.color56(points="134.546,202.845 161.511,152.134 188.476,202.845")
          polygon#p-57.poly.color57(points="161.511,152.134 134.546,202.845 107.583,152.134")
          polygon#p-58.poly.color58(points="80.618,202.845 107.583,152.134 134.546,202.845")
          polygon#p-59.poly.color59(points="107.583,152.134 80.618,202.845 53.654,152.134")
          polygon#p-60.poly.color60(points="26.691,202.845 53.654,152.134 80.618,202.845")
          polygon#p-61.poly.color61(points="539.009,152.134 565.974,101.423 592.937,152.134")
          polygon#p-62.poly.color62(points="565.974,101.423 539.009,152.134 512.044,101.423")
          polygon#p-63.poly.color63(points="485.08,152.134 512.044,101.423 539.009,152.134")
          polygon#p-64.poly.color64(points="512.044,101.423 485.08,152.134 458.116,101.423")
          polygon#p-65.poly.color65(points="431.151,152.134 458.116,101.423 485.08,152.134")
          polygon#p-66.poly.color66(points="458.116,101.423 431.151,152.134 404.188,101.423")
          polygon#p-67.poly.color67(points="377.224,152.134 404.188,101.423 431.151,152.134")
          polygon#p-68.poly.color68(points="404.188,101.423 377.224,152.134 350.26,101.423")
          polygon#p-69.poly.color69(points="323.295,152.134 350.26,101.423 377.224,152.134")
          polygon#p-70.poly.color70(points="350.26,101.423 323.295,152.134 296.331,101.423")
          polygon#p-71.poly.color71(points="269.366,152.134 296.331,101.423 323.295,152.134")
          polygon#p-72.poly.color72(points="296.331,101.423 269.366,152.134 242.404,101.423")
          polygon#p-73.poly.color73(points="215.439,152.134 242.404,101.423 269.366,152.134")
          polygon#p-74.poly.color74(points="242.404,101.423 215.439,152.134 188.476,101.423")
          polygon#p-75.poly.color75(points="161.511,152.134 188.476,101.423 215.439,152.134")
          polygon#p-76.poly.color76(points="188.476,101.423 161.511,152.134 134.546,101.423")
          polygon#p-77.poly.color77(points="107.583,152.134 134.546,101.423 161.511,152.134")
          polygon#p-78.poly.color78(points="134.546,101.423 107.583,152.134 80.618,101.423")
          polygon#p-79.poly.color79(points="53.654,152.134 80.618,101.423 107.583,152.134")
          polygon#p-80.poly.color80(points="80.618,101.423 53.654,152.134 26.691,101.423")
          polygon#p-81.poly.color81(points="592.937,50.711 565.974,101.423 539.009,50.711")
          polygon#p-82.poly.color82(points="512.044,101.423 539.009,50.711 565.974,101.423")
          polygon#p-83.poly.color83(points="539.009,50.711 512.044,101.423 485.08,50.711")
          polygon#p-84.poly.color84(points="458.116,101.423 485.08,50.711 512.044,101.423")
          polygon#p-85.poly.color85(points="485.08,50.711 458.116,101.423 431.151,50.711")
          polygon#p-86.poly.color86(points="404.188,101.423 431.151,50.711 458.116,101.423")
          polygon#p-87.poly.color87(points="431.151,50.711 404.188,101.423 377.224,50.711")
          polygon#p-88.poly.color88(points="350.26,101.423 377.224,50.711 404.188,101.423")
          polygon#p-89.poly.color89(points="377.224,50.711 350.26,101.423 323.295,50.711")
          polygon#p-90.poly.color90(points="296.331,101.423 323.295,50.711 350.26,101.423")
          polygon#p-91.poly.color91(points="323.295,50.711 296.331,101.423 269.366,50.711")
          polygon#p-92.poly.color92(points="242.404,101.423 269.366,50.711 296.331,101.423")
          polygon#p-93.poly.color93(points="269.366,50.711 242.404,101.423 215.439,50.711")
          polygon#p-94.poly.color94(points="188.476,101.423 215.439,50.711 242.404,101.423")
          polygon#p-95.poly.color95(points="215.439,50.711 188.476,101.423 161.511,50.711")
          polygon#p-96.poly.color96(points="134.546,101.423 161.511,50.711 188.476,101.423")
          polygon#p-97.poly.color97(points="161.511,50.711 134.546,101.423 107.583,50.711")
          polygon#p-98.poly.color98(points="80.618,101.423 107.583,50.711 134.546,101.423")
          polygon#p-99.poly.color99(points="107.583,50.711 80.618,101.423 53.654,50.711")
          polygon#p-100.poly.color100(points="26.691,101.423 53.654,50.711 80.618,101.423")
          polygon#p-101.poly.color101(points="539.009,50.711 565.974,0 592.937,50.711")
          polygon#p-102.poly.color102(points="565.974,0 539.009,50.711 512.044,0")
          polygon#p-103.poly.color103(points="485.08,50.711 512.044,0 539.009,50.711")
          polygon#p-104.poly.color104(points="512.044,0 485.08,50.711 458.116,0")
          polygon#p-105.poly.color105(points="431.151,50.711 458.116,0 485.08,50.711")
          polygon#p-106.poly.color106(points="458.116,0 431.151,50.711 404.188,0")
          polygon#p-107.poly.color107(points="377.224,50.711 404.188,0 431.151,50.711")
          polygon#p-108.poly.color108(points="404.188,0 377.224,50.711 350.26,0")
          polygon#p-109.poly.color109(points="323.295,50.711 350.26,0 377.224,50.711")
          polygon#p-110.poly.color110(points="350.26,0 323.295,50.711 296.331,0")
          polygon#p-111.poly.color111(points="269.366,50.711 296.331,0 323.295,50.711")
          polygon#p-112.poly.color112(points="296.331,0 269.366,50.711 242.404,0")
          polygon#p-113.poly.color113(points="215.439,50.711 242.404,0 269.366,50.711")
          polygon#p-114.poly.color114(points="242.404,0 215.439,50.711 188.476,0")
          polygon#p-115.poly.color115(points="161.511,50.711 188.476,0 215.439,50.711")
          polygon#p-116.poly.color116(points="188.476,0 161.511,50.711 134.546,0")
          polygon#p-117.poly.color117(points="107.583,50.711 134.546,0 161.511,50.711")
          polygon#p-118.poly.color118(points="134.546,0 107.583,50.711 80.618,0")
          polygon#p-119.poly.color119(points="53.654,50.711 80.618,0 107.583,50.711")
          polygon#p-120.poly.color120(points="80.618,0 53.654,50.711 26.691,0")
        g.op34#group3
          polygon#p-1.poly.color1(points="566.247,232.704 539.282,283.416 512.319,232.704")
          polygon#p-2.poly.color2(points="485.354,283.416 512.319,232.704 539.282,283.416")
          polygon#p-3.poly.color3(points="512.319,232.704 485.354,283.416 458.39,232.704")
          polygon#p-4.poly.color4(points="431.426,283.416 458.39,232.704 485.354,283.416")
          polygon#p-5.poly.color5(points="458.39,232.704 431.426,283.416 404.462,232.704")
          polygon#p-6.poly.color6(points="377.497,283.416 404.462,232.704 431.426,283.416")
          polygon#p-7.poly.color7(points="404.462,232.704 377.497,283.416 350.533,232.704")
          polygon#p-8.poly.color8(points="323.569,283.416 350.533,232.704 377.497,283.416")
          polygon#p-9.poly.color9(points="350.533,232.704 323.569,283.416 296.604,232.704")
          polygon#p-10.poly.color10(points="269.641,283.416 296.604,232.704 323.569,283.416")
          polygon#p-11.poly.color11(points="296.604,232.704 269.641,283.416 242.676,232.704")
          polygon#p-12.poly.color12(points="215.712,283.416 242.676,232.704 269.641,283.416")
          polygon#p-13.poly.color13(points="242.676,232.704 215.712,283.416 188.748,232.704")
          polygon#p-14.poly.color14(points="161.785,283.416 188.748,232.704 215.712,283.416")
          polygon#p-15.poly.color15(points="188.748,232.704 161.785,283.416 134.821,232.704")
          polygon#p-16.poly.color16(points="107.855,283.416 134.821,232.704 161.785,283.416")
          polygon#p-17.poly.color17(points="134.821,232.704 107.855,283.416 80.893,232.704")
          polygon#p-18.poly.color18(points="53.927,283.416 80.893,232.704 107.855,283.416")
          polygon#p-19.poly.color19(points="80.893,232.704 53.927,283.416 26.963,232.704")
          polygon#p-20.poly.color20(points="0,283.416 26.963,232.704 53.927,283.416")
          polygon#p-21.poly.color21(points="512.319,232.704 539.282,181.993 566.247,232.704")
          polygon#p-22.poly.color22(points="539.282,181.993 512.319,232.704 485.354,181.993")
          polygon#p-23.poly.color23(points="458.39,232.704 485.354,181.993 512.319,232.704")
          polygon#p-24.poly.color24(points="485.354,181.993 458.39,232.704 431.426,181.993")
          polygon#p-25.poly.color25(points="404.462,232.704 431.426,181.993 458.39,232.704")
          polygon#p-26.poly.color26(points="431.426,181.993 404.462,232.704 377.497,181.993")
          polygon#p-27.poly.color27(points="350.533,232.704 377.497,181.993 404.462,232.704")
          polygon#p-28.poly.color28(points="377.497,181.993 350.533,232.704 323.569,181.993")
          polygon#p-29.poly.color29(points="296.604,232.704 323.569,181.993 350.533,232.704")
          polygon#p-30.poly.color30(points="323.569,181.993 296.604,232.704 269.641,181.993")
          polygon#p-31.poly.color31(points="242.676,232.704 269.641,181.993 296.604,232.704")
          polygon#p-32.poly.color32(points="269.641,181.993 242.676,232.704 215.712,181.993")
          polygon#p-33.poly.color33(points="188.748,232.704 215.712,181.993 242.676,232.704")
          polygon#p-34.poly.color34(points="215.712,181.993 188.748,232.704 161.785,181.993")
          polygon#p-35.poly.color35(points="134.821,232.704 161.785,181.993 188.748,232.704")
          polygon#p-36.poly.color36(points="161.785,181.993 134.821,232.704 107.855,181.993")
          polygon#p-37.poly.color37(points="80.893,232.704 107.855,181.993 134.821,232.704")
          polygon#p-38.poly.color38(points="107.855,181.993 80.893,232.704 53.927,181.993")
          polygon#p-39.poly.color39(points="26.963,232.704 53.927,181.993 80.893,232.704")
          polygon#p-40.poly.color40(points="53.927,181.993 26.963,232.704 0,181.993")
          polygon#p-41.poly.color41(points="566.247,131.282 539.282,181.993 512.319,131.282")
          polygon#p-42.poly.color42(points="485.354,181.993 512.319,131.282 539.282,181.993")
          polygon#p-43.poly.color43(points="512.319,131.282 485.354,181.993 458.39,131.282")
          polygon#p-44.poly.color44(points="431.426,181.993 458.39,131.282 485.354,181.993")
          polygon#p-45.poly.color45(points="458.39,131.282 431.426,181.993 404.462,131.282")
          polygon#p-46.poly.color46(points="377.497,181.993 404.462,131.282 431.426,181.993")
          polygon#p-47.poly.color47(points="404.462,131.282 377.497,181.993 350.533,131.282")
          polygon#p-48.poly.color48(points="323.569,181.993 350.533,131.282 377.497,181.993")
          polygon#p-49.poly.color49(points="350.533,131.282 323.569,181.993 296.604,131.282")
          polygon#p-50.poly.color50(points="269.641,181.993 296.604,131.282 323.569,181.993")
          polygon#p-51.poly.color51(points="296.604,131.282 269.641,181.993 242.676,131.282")
          polygon#p-52.poly.color52(points="215.712,181.993 242.676,131.282 269.641,181.993")
          polygon#p-53.poly.color53(points="242.676,131.282 215.712,181.993 188.748,131.282")
          polygon#p-54.poly.color54(points="161.785,181.993 188.748,131.282 215.712,181.993")
          polygon#p-55.poly.color55(points="188.748,131.282 161.785,181.993 134.821,131.282")
          polygon#p-56.poly.color56(points="107.855,181.993 134.821,131.282 161.785,181.993")
          polygon#p-57.poly.color57(points="134.821,131.282 107.855,181.993 80.893,131.282")
          polygon#p-58.poly.color58(points="53.927,181.993 80.893,131.282 107.855,181.993")
          polygon#p-59.poly.color59(points="80.893,131.282 53.927,181.993 26.963,131.282")
          polygon#p-60.poly.color60(points="0,181.993 26.963,131.282 53.927,181.993")
          polygon#p-61.poly.color61(points="512.319,131.282 539.282,80.57 566.247,131.282")
          polygon#p-62.poly.color62(points="539.282,80.57 512.319,131.282 485.354,80.57")
          polygon#p-63.poly.color63(points="458.39,131.282 485.354,80.57 512.319,131.282")
          polygon#p-64.poly.color64(points="485.354,80.57 458.39,131.282 431.426,80.57")
          polygon#p-65.poly.color65(points="404.462,131.282 431.426,80.57 458.39,131.282")
          polygon#p-66.poly.color66(points="431.426,80.57 404.462,131.282 377.497,80.57")
          polygon#p-67.poly.color67(points="350.533,131.282 377.497,80.57 404.462,131.282")
          polygon#p-68.poly.color68(points="377.497,80.57 350.533,131.282 323.569,80.57")
          polygon#p-69.poly.color69(points="296.604,131.282 323.569,80.57 350.533,131.282")
          polygon#p-70.poly.color70(points="323.569,80.57 296.604,131.282 269.641,80.57")
          polygon#p-71.poly.color71(points="242.676,131.282 269.641,80.57 296.604,131.282")
          polygon#p-72.poly.color72(points="269.641,80.57 242.676,131.282 215.712,80.57")
          polygon#p-73.poly.color73(points="188.748,131.282 215.712,80.57 242.676,131.282")
          polygon#p-74.poly.color74(points="215.712,80.57 188.748,131.282 161.785,80.57")
          polygon#p-75.poly.color75(points="134.821,131.282 161.785,80.57 188.748,131.282")
          polygon#p-76.poly.color76(points="161.785,80.57 134.821,131.282 107.855,80.57")
          polygon#p-77.poly.color77(points="80.893,131.282 107.855,80.57 134.821,131.282")
          polygon#p-78.poly.color78(points="107.855,80.57 80.893,131.282 53.927,80.57")
          polygon#p-79.poly.color79(points="26.963,131.282 53.927,80.57 80.893,131.282")
          polygon#p-80.poly.color80(points="53.927,80.57 26.963,131.282 0,80.57")
          polygon#p-81.poly.color81(points="566.247,29.856 539.282,80.57 512.319,29.856")
          polygon#p-82.poly.color82(points="485.354,80.57 512.319,29.856 539.282,80.57")
          polygon#p-83.poly.color83(points="512.319,29.856 485.354,80.57 458.39,29.856")
          polygon#p-84.poly.color84(points="431.426,80.57 458.39,29.856 485.354,80.57")
          polygon#p-85.poly.color85(points="458.39,29.856 431.426,80.57 404.462,29.856")
          polygon#p-86.poly.color86(points="377.497,80.57 404.462,29.856 431.426,80.57")
          polygon#p-87.poly.color87(points="404.462,29.856 377.497,80.57 350.533,29.856")
          polygon#p-88.poly.color88(points="323.569,80.57 350.533,29.856 377.497,80.57")
          polygon#p-89.poly.color89(points="350.533,29.856 323.569,80.57 296.604,29.856")
          polygon#p-90.poly.color90(points="269.641,80.57 296.604,29.856 323.569,80.57")
          polygon#p-91.poly.color91(points="296.604,29.856 269.641,80.57 242.676,29.856")
          polygon#p-92.poly.color92(points="215.712,80.57 242.676,29.856 269.641,80.57")
          polygon#p-93.poly.color93(points="242.676,29.856 215.712,80.57 188.748,29.856")
          polygon#p-94.poly.color94(points="161.785,80.57 188.748,29.856 215.712,80.57")
          polygon#p-95.poly.color95(points="188.748,29.856 161.785,80.57 134.821,29.856")
          polygon#p-96.poly.color96(points="107.855,80.57 134.821,29.856 161.785,80.57")
          polygon#p-97.poly.color97(points="134.821,29.856 107.855,80.57 80.893,29.856")
          polygon#p-98.poly.color98(points="53.927,80.57 80.893,29.856 107.855,80.57")
          polygon#p-99.poly.color99(points="80.893,29.856 53.927,80.57 26.963,29.856")
          polygon#p-100.poly.color100(points="0,80.57 26.963,29.856 53.927,80.57")
      h1 Welcome
      div.button#w_start Start
      div.controls
        div.button#startanimation Play
        div.button#pauseanimation Pause
          
    div.content#page1
            div.container
                div.gliederung
                    ol
                        h1 Gliederung
                        - var sectionlist = ["Intro", "HTML5", "Neue Dinge", "Verlorene Dinge", "DOM", "Ids in HTML", "Klassen in HTML"]
                        - var i = 1
                        each section in sectionlist
                          - var g = "#g-";
                          li(id="a-" + i)
                            a(href=g + i)= section
                            - i++

                
                section#g-1
                    h1.sectionheading Agenda
                    ol
                        li HTML5 
                        li CSS
                        li JQuery
                        li Grobe Struktur
                        li Detailierter Aufbau
                          ol
                            li JavaScript
                            li Header
                            li Hauptinhalt
                            li Footer
                            li Sections
                        
                section#g-2
                    h1.sectionheading HTML5
                    ul
                        li Veröffentlicht: 28.Okt.2014
                        li Nachfolger von HTML4
                        li Standardisiert
                    svg(xmlns="http://www.w3.org/2000/svg",viewBox="0 0 512 512")
                        title HTML5 Logo
                        polygon(fill="#E44D26", points="107.644,470.877 74.633,100.62 437.367,100.62 404.321,470.819 255.778,512")
                        polygon(fill="#F16529", points="256,480.523 376.03,447.246 404.27,130.894 256,130.894")
                        polygon(fill="#EBEBEB", points="256,268.217 195.91,268.217 191.76,221.716 256,221.716 256,176.305 255.843,176.305 142.132,176.305 143.219,188.488 154.38,313.627 256,313.627")
                        polygon(fill="#EBEBEB", points="256,386.153 255.801,386.206 205.227,372.55 201.994,336.333 177.419,336.333 156.409,336.333 162.771,407.634 255.791,433.457 256,433.399")
                        path(d="M108.382,0h23.077v22.8h21.11V0h23.078v69.044H152.57v-23.12h-21.11v23.12h-23.077V0z")
                        path(d="M205.994,22.896h-20.316V0h63.72v22.896h-20.325v46.148h-23.078V22.896z")
                        path(d="M259.511,0h24.063l14.802,24.26L313.163,0h24.072v69.044h-22.982V34.822l-15.877,24.549h-0.397l-15.888-24.549v34.222h-22.58V0z")
                        path(d="M348.72,0h23.084v46.222h32.453v22.822H348.72V0z")
                        polygon(fill="#FFFFFF", points="255.843,268.217 255.843,313.627 311.761,313.627 306.49,372.521 255.843,386.191 255.843,433.435 348.937,407.634 349.62,399.962 360.291,280.411 361.399,268.217 349.162,268.217")
                        polygon(fill="#FFFFFF", points="255.843,176.305 255.843,204.509 255.843,221.605 255.843,221.716 365.385,221.716 365.385,221.716 365.531,221.716 366.442,211.509 368.511,188.488 369.597,176.305")
                section#g-3
                    h1.sectionheading Neue Dinge
                    h3 DOCTYPE declaration
                    div.codebox
                        pre(class="brush: xml;")        
                            &lt;!DOCTYPE html&gt;
                
                    
                    h3 Neue HTML5 Elemente
                        span.small  Auszug
                    p Semantische:
                    div.codebox
                        pre(class="brush: xml;")
                            &lt;header&gt;
                            &lt;footer&gt;
                            &lt;article&gt;
                            &lt;section&gt;
                    p Grafische: 
                    div.codebox
                        pre(class="brush: xml;")
                            &lt;svg&gt;
                            &lt;canvas&gt;
                    p Mulitmedia:
                    div.codebox
                        pre(class="brush: xml;")
                            &lt;audio&gt;
                            &lt;video&gt;

                section#g-4
                    h1.sectionheading Verlorene Dinge
                    p Entfernte HTML4-Elemente:
                    div.codebox
                        pre(class="brush: xml;")
                            &lt;acronym&gt;
                            &lt;applet&gt;
                            &lt;basefont&gt;
                            &lt;big&gt;
                            &lt;center&gt;
                            &lt;dir&gt;
                            &lt;font&gt;
                            &lt;frame&gt; 	 
                            &lt;frameset&gt; 	 
                            &lt;noframes&gt; 	 
                            &lt;strike&gt;
                            &lt;tt&gt;

                section#g-5
                    h1.sectionheading DOM Document Object Model
                    img(src="assets/img/dom.png", alt="DOM")
                                

                section#g-6
                    h1.sectionheading Ids in HTML
                    p Ids
                    ul
                        li sind einmalig / eindeutig
                        li sollten nicht für CSS verwendet werden
                
                    div.codebox
                        pre(class="brush: xml;").
                            &lt;h1 id="heading1"&gt; Überschrift 1 &lt;/h1&gt;
                    p Schreibweise in CSS
                    div.codebox
                        pre(class="brush: css;").
                            #heading1 {
                              color: blue;
                            }
                    div.examplebox
                       h1(style="color:blue;") Überschrift 1

                section#g-7
                    h1.sectionheading Klassen in HTML
                    p Klassen
                    ul
                        li können mehrfach verwendet werden
                
                    div.codebox
                        pre(class="brush: xml;")
                            &lt;h2 class="heading"&gt; Überschrift 2 &lt;/h1&gt;
                            &lt;h3 class="heading red"&gt; Überschrift 3 &lt;/h1&gt;
                            &lt;p class="red center"&gt; Text Block &lt;/h1&gt;
                    p Schreibweise in CSS
                    div.codebox
                        pre(class="brush: css;").
                            .heading {
                                background: pink;
                            }
                            .red {
                                color: red;
                            }
                            .center {
                                text-align: center;
                            }
                    div.examplebox
                        h2(style="background: pink") Überschrift 2
                        h3(style="background: pink; color: red;") Überschrift 3
                        p(style="text-align: center; color: red;") Text Block

                

    include ./modules/footer.jade
        
