include ./modules/head.jade
body
    include ./modules/header.jade
    div.content#page1
            div.container
                div.gliederung
                    ol
                        h1 Gliederung
                        - var sectionlist = ["Intro", "HTML5", "Neue Dinge", "Verlorene Dinge", "DOM", "Ids in HTML", "Klassen in HTML"]
                        - var i = 1
                        each section in sectionlist
                          - var g = "g-";
                          li(id="a-" + i)
                            a(href=g + i)= section
                            - i++

                
                section#g-1
                    h1.sectionheading Intro
                    div.space
                    h2 Agenda
                    ol
                        li HTML5 
                        li CSS
                        li JQuery
                        li Grobe Struktur
                        li Detailierter Aufbau
                          ol
                            li JavaScript
                            li Header
                            li Hauptinhalt
                            li Footer
                            li Sections
                        
                section#g-2
                    h1.sectionheading HTML5
                    ul
                        li Veröffentlicht: 28.Okt.2014
                        li Nachfolger von HTML4
                        li Standardisiert
                    svg(xmlns="http://www.w3.org/2000/svg",viewBox="0 0 512 512")
                        title HTML5 Logo
                        polygon(fill="#E44D26", points="107.644,470.877 74.633,100.62 437.367,100.62 404.321,470.819 255.778,512")
                        polygon(fill="#F16529", points="256,480.523 376.03,447.246 404.27,130.894 256,130.894")
                        polygon(fill="#EBEBEB", points="256,268.217 195.91,268.217 191.76,221.716 256,221.716 256,176.305 255.843,176.305 142.132,176.305 143.219,188.488 154.38,313.627 256,313.627")
                        polygon(fill="#EBEBEB", points="256,386.153 255.801,386.206 205.227,372.55 201.994,336.333 177.419,336.333 156.409,336.333 162.771,407.634 255.791,433.457 256,433.399")
                        path(d="M108.382,0h23.077v22.8h21.11V0h23.078v69.044H152.57v-23.12h-21.11v23.12h-23.077V0z")
                        path(d="M205.994,22.896h-20.316V0h63.72v22.896h-20.325v46.148h-23.078V22.896z")
                        path(d="M259.511,0h24.063l14.802,24.26L313.163,0h24.072v69.044h-22.982V34.822l-15.877,24.549h-0.397l-15.888-24.549v34.222h-22.58V0z")
                        path(d="M348.72,0h23.084v46.222h32.453v22.822H348.72V0z")
                        polygon(fill="#FFFFFF", points="255.843,268.217 255.843,313.627 311.761,313.627 306.49,372.521 255.843,386.191 255.843,433.435 348.937,407.634 349.62,399.962 360.291,280.411 361.399,268.217 349.162,268.217")
                        polygon(fill="#FFFFFF", points="255.843,176.305 255.843,204.509 255.843,221.605 255.843,221.716 365.385,221.716 365.385,221.716 365.531,221.716 366.442,211.509 368.511,188.488 369.597,176.305")
                section#g-3
                    h1.sectionheading Neue Dinge
                    h3 DOCTYPE declaration
                    div.codebox
                        pre(class="brush: xml;")        
                            &lt;!DOCTYPE html&gt;
                
                    
                    h3 Neue HTML5 Elemente
                        span.small  Auszug
                    p Semantische:
                    div.codebox
                        pre(class="brush: xml;")
                            &lt;header&gt;
                            &lt;footer&gt;
                            &lt;article&gt;
                            &lt;section&gt;
                    p Grafische: 
                    div.codebox
                        pre(class="brush: xml;")
                            &lt;svg&gt;
                            &lt;canvas&gt;
                    p Mulitmedia:
                    div.codebox
                        pre(class="brush: xml;")
                            &lt;audio&gt;
                            &lt;video&gt;

                section#g-4
                    h1.sectionheading Verlorene Dinge
                    p Entfernte HTML4-Elemente:
                    div.codebox
                        pre(class="brush: xml;")
                            &lt;acronym&gt;
                            &lt;applet&gt;
                            &lt;basefont&gt;
                            &lt;big&gt;
                            &lt;center&gt;
                            &lt;dir&gt;
                            &lt;font&gt;
                            &lt;frame&gt; 	 
                            &lt;frameset&gt; 	 
                            &lt;noframes&gt; 	 
                            &lt;strike&gt;
                            &lt;tt&gt;

                section#g-5
                    h1.sectionheading DOM Document Object Model
                    img(src="assets/img/dom.png", alt="DOM")
                                

                section#g-6
                    h1.sectionheading Ids in HTML
                    p Ids
                    ul
                        li sind einmalig / eindeutig
                        li sollten nicht für CSS verwendet werden
                
                    div.codebox
                        pre(class="brush: xml;")
                            &lt;h1 id="heading1"&gt; Überschrift 1 &lt;/h1&gt;
                    p Schreibweise in CSS
                    div.codebox
                        pre(class="brush: css;").
                            #heading1 {
                                color: blue;
                            }
                    div.examplebox
                        h1(style="color:blue;") Überschrift 1

                section#g-7
                    h1.sectionheading Klassen in HTML
                    p Klassen
                    ul
                        li können mehrfach verwendet werden
                
                    div.codebox
                        pre(class="brush: xml;")
                            &lt;h2 class="heading"&gt; Überschrift 2 &lt;/h1&gt;
                            &lt;h3 class="heading red"&gt; Überschrift 3 &lt;/h1&gt;
                            &lt;p class="red center"&gt; Text Block &lt;/h1&gt;
                    p Schreibweise in CSS
                    div.codebox
                        pre(class="brush: css;").
                            .heading {
                                background: pink;
                            }
                            .red {
                                color: red;
                            }
                            .center {
                                text-align: center;
                            }
                    div.examplebox
                        h2(style="background: pink") Überschrift 2
                        h3(style="background: pink; color: red;") Überschrift 3
                        p(style="text-align: center; color: red;") Text Block

                

    include ./modules/footer.jade
        
