include ./modules/head.jade
body
    include ./modules/header.jade
    .content#page3
            .container
                .gliederung
                  ol
                      h1 Gliederung
                      - var sectionlist = ["JQuerymagic"]
                      - var i = 1
                      each section in sectionlist
                        - var g = "#g-";
                        li(id="a-" + i)
                          a(href=g + i)= section
                          - i++ 

                section#g-1
                  h1.sectionheading JQuerymagic

                  
                

                      

    include ./modules/footer.jade
        
