doctype html(lang='de')
head
    title Groz-Beckert Azubi
    meta(charset='utf-8')

    link(rel='stylesheet', href='assets/css/main.css')
  body
    .site_wrapper.js_site_1
      .site_slider.js_site_2
      .site_header.js_site_3
        #site_progress.js_site_4
        .site_headercontent.js_site_5
          .site_logoleft.js_site_6
          .site_nav.js_site_8
            ul.js_site_9
              li.js_site_10
              li.js_site_10
              li.js_site_10
          .site_logoright.js_site_7

      .site_content.js_site_11
        .site_sidebar.js_site_12
          .sb_news.js_site_14
            .sb_news-image.js_site_15
              .filler
            h2.sb_news-heading.js_site_16 Groz-Beckert in Italien
            .sb_news-p.js_site_17
            .site_button.js_site_18
          .sb_news.js_site_14
            .sb_news-image.js_site_15
              .filler
            h2.sb_news-heading.js_site_16 Groz-Beckert in Italien
            .sb_news-p.js_site_17
            .site_button.js_site_18
          
          .clearfix    
        .site_maincol.js_site_12
          .site_filler.js_site_12
            h1.js_site_13 Demo

      .site_footer.js_site_19
        .footerlogo.js_site_20
          h2.logo-training.js_site_21 Groz-Beckert Ausbildung
        .footermenu.js_site_22
          ul.js_site_23
            li.js_site_24
            li.js_site_25
            li.js_site_26
        .copyright.js_site_27
          p.js_site_28
      .site_box.js_site_29
      a.site_backbutton.js_site_29(href="struktur.html")
        p Back
    script(src="assets/js/jquery-2.1.4.min.js")
    script(src="assets/js/ScrollMagic.min.js")
    script(src="assets/js/TweenMax.min.js")
    script(src="assets/js/TimelineMax.min.js")
    script(src="assets/js/plugins/animation.gsap.min.js")
    script(src="assets/js/easing/EasePack.min.js")
    script(src="assets/js/plugins/ScrollToPlugin.min.js")
    script(src="assets/js/plugins/TextPlugin.min.js")
    script(src="assets/js/plugins/debug.addIndicators.min.js")
    script(src='assets/js/jquery-2.1.4.min.js', type='text/javascript')
    script(src='assets/js/_sitejs.js', type='text/javascript')
