section#g-1
    h1.sectionheading CSS Cascading Style Sheets
    p italienisch cascata, [stufenweiser] Wasserfall
        br
        | -&gt; stufenweiser Aufbau
        
    h3 HTML = Maurer
    h3 CSS = Maler
    img(src="assets/img/gsapnocss.png")
    img(src="assets/img/gsapcss.png")
