section#g-3
    h1.sectionheading Einbinden
    h3 Externes Stylesheet
    div.codebox
        pre(class="brush: xml;").
            &lt;head&gt;
                &lt;link rel="stylesheet" type="text/css" href="style.css"&gt;
            &lt;/head&gt;
    h3 Stylesheet im Head
    div.codebox
        pre(class="brush: xml;").
            &lt;head&gt;
                &lt;style&gt;
                    h1 {
                       color: blue;
                       text-align: right;
                    }
                &lt;/style&gt;
            &lt;/head&gt;
    h3 Inline
    div.codebox
        pre(class="brush: xml;").
             &lt;h1 style="color:blue;text-align:right"&gt;This is a heading.&lt;/h1&gt;
