section#g-4
    h1.sectionheading Vererbung
    div.codebox.split2
        pre(class="brush: xml;").
            &lt;header class="red"&gt;
            &lt;h1&gt;Hallo&lt;/h1&gt;            
            &lt;/header&gt;
        pre(class="brush: css;").
            header {
                color: red;
                text-align: center;
            }
    div.examplebox
        div(style="color: red; text-align:center;")
        h1(style="color: red;") Hallo
