section#g-6
    h1.sectionheading Ids in HTML
    p Ids
    ul
        li sind einmalig / eindeutig
        li sollten nicht für CSS verwendet werden

    div.codebox
        pre(class="brush: xml;")
            &lt;h1 id="heading1"&gt; Überschrift 1 &lt;/h1&gt;
    p Schreibweise in CSS
    div.codebox
        pre(class="brush: css;").
            #heading1 {
                color: blue;
            }
    div.examplebox
        h1(style="color:blue;") Überschrift 1
