section#g-3
    h1.sectionheading Neue Dinge
    h3 DOCTYPE declaration
    div.codebox
        pre(class="brush: xml;")        
            &lt;!DOCTYPE html&gt;

    
    h3 Neue HTML5 Elemente
        span.small  Auszug
    p Semantische:
    div.codebox
        pre(class="brush: xml;")
            &lt;header&gt;
            &lt;footer&gt;
            &lt;article&gt;
            &lt;section&gt;
    p Grafische: 
    div.codebox
        pre(class="brush: xml;")
            &lt;svg&gt;
            &lt;canvas&gt;
    p Mulitmedia:
    div.codebox
        pre(class="brush: xml;")
            &lt;audio&gt;
            &lt;video&gt;
