section#g-4
    h1.sectionheading Verlorene Dinge
    p Entfernte HTML4-Elemente:
    div.codebox
        pre(class="brush: xml;")
            &lt;acronym&gt;
            &lt;applet&gt;
            &lt;basefont&gt;
            &lt;big&gt;
            &lt;center&gt;
            &lt;dir&gt;
            &lt;font&gt;
            &lt;frame&gt; 	 
            &lt;frameset&gt; 	 
            &lt;noframes&gt; 	 
            &lt;strike&gt;
            &lt;tt&gt;
