script(src="assets/js/jquery-2.1.4.min.js")
script(src="assets/js/highlighter/shCore.js")
script(src="assets/js/highlighter/shAutoloader.js")
script(src="assets/js/highlighter/shLegacy.js")
script(src="assets/js/highlighter/shBrushCss.js")
script(src="assets/js/highlighter/shBrushXml.js")
script(src="assets/js/ScrollMagic.min.js")
script(src="assets/js/TweenMax.min.js")
script(src="assets/js/plugins/animation.gsap.min.js")
script(src="assets/js/plugins/ScrollToPlugin.min.js")
script(src="assets/js/plugins/TextPlugin.min.js")
script(src="assets/js/plugins/debug.addIndicators.min.js")
script(src="assets/js/functions.js")
script.
    SyntaxHighlighter.defaults['gutter'] = true;
    SyntaxHighlighter.defaults['toolbar'] = false;
    SyntaxHighlighter.defaults['ruler'] = false;
    SyntaxHighlighter.defaults['html-style']= true;
    SyntaxHighlighter.all();
